quarkus-soap-client/src/main/resources/simple2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com:t1m0:soap"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:com:t1m0:soap">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:com:t1m0:soap">
            <xsd:element name="greetingRequest">
                <complexType>
                    <sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="name" nillable="false" type="xsd:string" />
                    </sequence>
                </complexType>
            </xsd:element>
            <xsd:element name="greetingResponse">
                <complexType>
                    <sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="message" nillable="false" type="xsd:string"/>
                    </sequence>
                </complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>


    <wsdl:message name="greetingRequest">
        <wsdl:part name="greetingRequest" element="tns:greetingRequest"/>
    </wsdl:message>
    <wsdl:message name="greetingResponse">
        <wsdl:part name="greetingResponse" element="tns:greetingResponse"/>
    </wsdl:message>

    <wsdl:portType name="SimpleSoapServicePortType">
        <wsdl:operation name="greeting">
            <wsdl:input message="tns:greetingRequest"/>
            <wsdl:output message="tns:greetingResponse"/>
        </wsdl:operation>
    </wsdl:portType>



    <wsdl:binding name="SimpleSoapServiceBinding" type="tns:SimpleSoapServicePortType" >
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="greeting">
            <soap:operation soapAction="urn:greeting" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="SimpleSoapService">
        <wsdl:port name="SimpleSoapService" binding="tns:SimpleSoapServiceBinding">
            <soap:address location="http://localhost:8080/soap/simple" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
